#nav a.active{
    /* text-decoration: underline; */
    color: #0A6847;
}
#nav a:hover{
    text-decoration: underline;
}
#nav button:hover{
    text-decoration: underline;
}
#nav a{
    width: fit-content;
}